%h2 Edit Vset

= form_tag vset_path(@vset), :method => :put do

  = label :vset, :title, 'Title'
  = text_field :vset, 'title'

  = label :vset, :description, 'Description'
  = text_field :vset, :description

  = label :vset, :tags, 'Tags'
  = text_field :vset, :tag_list

  = submit_tag 'Save Changes'