-# in app/views/movies/show.html.haml

%h2 #{@vset.title}

%ul#details
  %li
    Words
    = @vset.description
- if current_user.try(:admin?)
  = form_tag :action => 'search_quizlet' do
  
    %label{:for => 'search_terms'} Search Terms
    = text_field_tag 'search_terms'
    = submit_tag 'Search Quizlet'


#words
  - @words.each_with_index do |word, index|
    .item
      .block
        .card
          .front.side
            %h2.centered= "#{index + 1}. #{word.name} "
          .back.side
            %h2.definition= word.definition
            - if current_user.try(:admin?)
              %p= link_to "Edit", edit_vset_word_path(@vset, word)
              %p= button_to "Delete", vset_word_path(@vset, word), :method => :delete
      .clearfix

= link_to 'Back to set list', vsets_path


:javascript
  $('#words').masonry({
      itemSelector : '.item',
      columnWidth : 240
  });

  $('.card').on('click', function() {
      $(this).toggleClass('rotated');
  });

  var width = $('.card').width();
  $('.centered').each(function (i, box) {
    var line = $(box).wrapInner('<span style="white-space:nowrap">').children()[ 0 ];

    function changeFontSize(n) {
      $(box).css( 'font-size', function ( i, val ) {
        return parseInt( val, 10 ) - n;
      });
    }

    while ($(line).width() >= (width - 5)) {
      changeFontSize(1);
    }

    $(box).text( $( line ).text());
  })