!!! 5
%html
  %head
    %title LeetSAT
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    %h2= link_to 'LeetSAT', vsets_path
    = yield